body {
    font-size:xx-large;
}
.container {
    margin-top: 5vh;
    padding: 30px;
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 2%;
}
#pantalla {
    border: 1px solid black;
    height: 2em;
    background-color: white;
    text-align: right;
    padding-right: 10px;
}
.btn {
    height: 100px;
    font-size:xx-large;
}
.grid-container {
    height: 100%;
    display: grid;
    grid-gap: 1.25%;
    grid-template-columns: 19% 19% 19% 19% 19%;
    grid-template-rows: 23% 23% 23% 23%;
    grid-row-gap: 4%;
    margin-bottom: 30px;
}